In [5]:
from dotenv import load_dotenv
import os

load_dotenv('pwd.env')

db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv("DB_HOST")

In [6]:
from sqlalchemy import create_engine, text 

username = db_user
password = db_password
host = db_host
port = '5433'
database = 'companies_DWH'


connection_string = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(connection_string)

try:
    with engine.connect() as connection:
        print("connection was successful!")
except Exception as e:
    print("connection failed:", e)

connection was successful!

<h2>Merging tech_layoffs.csv files<h2>

In [7]:
import pandas as pd 

cleaned_tech_layoffs_q1 = pd.read_csv(r'D:\DEPI Data Engineering\personalWork\Company layoffs\cleaned_tech_layoffs_q1.csv', sep = ';')
cleaned_tech_layoffs_q2 = pd.read_csv(r'D:\DEPI Data Engineering\personalWork\Company layoffs\cleaned_tech_layoffs_q2.csv', sep = ',')

cleaned_tech_layoffs = pd.concat([cleaned_tech_layoffs_q1, cleaned_tech_layoffs_q2], axis = 0)
cleaned_tech_layoffs.to_csv('cleaned_tech_layoffs 2020 - 2024.csv', index = False)

print(cleaned_tech_layoffs)

      company_id         Company             Location_HQ Country  \
0              3       ShareChat               Bengaluru   India
1              4       InSightec                   Haifa  Israel
2              6  Enphase Energy  San Francisco Bay Area     USA
3              7           Udaan               Bengaluru   India
4             14          Cruise  San Francisco Bay Area     USA
...          ...             ...                     ...     ...
1834        5251    Moxion Power                Richmond     USA
1835        4983          Perion                Tel Aviv  Israel
1836        4740          Planet           San Francisco     USA
1837        3570        RealPage                  Dallas     USA
1838        5149       Priceline                 Norwalk     USA

          Continent  Laid_Off Date_layoffs  Percentage  \
0              Asia     200.0   2023-12-20          15
1              Asia     100.0   2023-12-19          20
2     North America     350.0   2023-12-18          10
3              Asia     100.0   2023-12-18          10
4     North America     900.0   2023-12-14          24
...             ...       ...          ...         ...
1834  North America     101.0   2024-06-26           0
1835           Asia      35.0   2024-06-26           5
1836  North America     180.0   2024-06-26          17
1837  North America      20.0   2024-06-27           4
1838  North America     103.0   2024-06-28          17

      Company_Size_before_Layoffs  Company_Size_after_layoffs        Industry  \
0                            1333                        1133        Consumer
1                             500                         400      Healthcare
2                            3500                        3150          Energy
3                            1000                         900          Retail
4                            3750                        2850  Transportation
...                           ...                         ...             ...
1834                            0                           0          Energy
1835                          700                         665       Marketing
1836                         1059                         879       Aerospace
1837                          500                         480     Real Estate
1838                          606                         503          Travel

      Money_Raised_in_$_mil  Year   latitude   longitude
0                    1700.0  2023  12.971940   77.593690
1                     733.0  2023  32.818410   34.988500
2                     116.0  2023  37.548270 -121.988570
3                       NaN  2023  12.971940   77.593690
4                   15000.0  2023  37.774930 -122.419420
...                     ...   ...        ...         ...
1834                  124.0  2024  37.538509  -77.434280
1835                   76.0  2024  32.085300   34.781806
1836                  574.0  2024  37.779259 -122.419329
1837                  105.0  2024  32.776272  -96.796856
1838                   77.0  2024  41.117597  -73.407897

[3511 rows x 15 columns]

In [8]:
cleaned_tech_layoffs.to_sql('layoffs_companies', engine, if_exists='replace', index = False, schema='public')

511

<h2>conditional split<h2>

In [9]:
import pandas as pd

cleaned_companies_sorted = pd.read_csv(r'D:\DEPI Data Engineering\personalWork\Company layoffs\cleaned_companies_sorted.csv')

condition = cleaned_companies_sorted['total employee estimate'] >= 200000

large_size_companies = cleaned_companies_sorted[condition]
small_mid_size_companies = cleaned_companies_sorted[~condition]

In [10]:
large_size_companies.to_sql('large size companies', engine, if_exists = 'replace', index = False, schema = 'public')

small_mid_size_companies.to_sql('small & mid size companies', engine, if_exists = 'replace', index = False, schema = 'public')

846

In [11]:
try:
    cleaned_companies_sorted = pd.read_csv(r'D:\DEPI Data Engineering\personalWork\Company layoffs\cleaned_companies_sorted.csv')

    condition = cleaned_companies_sorted['total employee estimate'] >= 20000

    large_size_companies = cleaned_companies_sorted[condition]
    small_mid_size_companies = cleaned_companies_sorted[~condition]

    large_size_companies.to_sql('large_size_companies', engine, if_exists='replace', index=False, schema='public')
    small_mid_size_companies.to_sql('small_mid_size_companies', engine, if_exists='replace', index=False, schema='public')

    print("Data successfully split and stored in the database.")
except Exception as e:
    print(f"An error occurred: {e}")

Data successfully split and stored in the database.